/* write your override styles here */
#wall .tag-1, #wall div#tag-2, #wall div.slick {
  
  display: none;
}

#wall .parent #tag-4, #wall .parent .slick, #wall .parent #tag-6, #tag-7 {
  display: none;
}