/* write your override styles here */
#wall .tag-1, #wall div#tag-2, div#wall #tag-3.slick.wicked {
  
  display: none;
}

#wall .parent #tag-4, #wall div.parent div#tag-5.slick, div#wall div.parent div#tag-6, #tag-7 {
  display: none;
}